.product__details__tabs{
    position: relative;
    width: 100%;

}

.header__box{
    box-shadow: 0 1px 1px grey;
    border-radius: 3px; 
    margin-bottom: 20px;
}
.specification__header{ 
    box-shadow:  0 0 10px solid green;
    color: #241f1fde;
}

.table__cell__mar{
    width: fit-content !important;
}

.details__home__container{
    padding: 20px 50px;
    background-color: #F0F2F5; 
}
